{% extends "otree/Page.html" %}
{% load otree %}

{% block title %}Hello! Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <h3 id="summary">Summary</h3>
    <p>
        This HIT is an academic experiment on text classification.
    </p>

    <p>
        <strong> The experiment is on a timer and will begin at exactly at
        9:30AM PST on the 20th of December, 2017.</strong> (Please note that
        this is 17:30:00 UTC on the 20th of December). If you enter the
        experiment early, you will be directed to further instructions and
        need to wait until the specified time of the experiment to proceed.
        If you try to enter the experiment after the start time, you will not
        be admitted.
    </p>

    <h3 id="the-experiment-will-proceed-as-follows-times-in-pst-">
      The experiment will proceed as follows.(Times in PST)
    </h3>
    <ul>
      <li>
        <strong>9:30am-9:32am</strong> <strong>(Instructions)</strong>:
        Experiment begins and you have 2 minutes to read the instructions and
        confirm that you understand the assignment.
      </li>
      <li>
        <strong>9:32am-(9:41pm)</strong> <strong>(Questions)</strong>: Maximum
        of 90 seconds per question. If you finish early, you will need to wait
        until the 90 second period expires before proceeding to the next
        question. The total number of questions may vary slightly, but most
        people should see 5.
      </li>
      <li>
        <strong>9:41pm</strong> <strong>(Results)</strong>: You may
        exit this page early if you wish.
      </li>
    </ul>

    <h3 id="compensation">Compensation</h3>
    <p>You will be compensated a base rate of <strong>$1.25</strong> for the experiment, but you must complete all assigned questions. In addition, you will receive <strong>$0.25</strong> per correct classification. </p>
    <p>So, the minimum compensation will be $1.25, and the maximum rate will be $3.25. We are offering a good rate for this 10-14 minute experiment because we need reliable workers that will complete the assignment as requested.</p>

    <p>
        Please accept the task only if you can coomit to completing it.
    </p>

    <h3 id="time">General Info</h3>

    <p>
        Each question will be considered a &quot;round&quot; where you will see
        a countdown timer. You must submit your answer before the timer expires.
        If you finish early, you will need to wait until the timer counts down
        to 0 before proceeding to the next round, so <strong>there is no payout
        advantage to speed of completion</strong>.
    </p>
    <p>
        <strong>Correct answers</strong> will earn you a bonus on top of the
        base rate, so you should ensure that you read each question carefully.
    </p>
    <p>
        <strong>It is important that you click on the &quot;Next&quot; button
          before the timer expires in order to submit your answer. If you do not
          click &quot;Next&quot; your answer will not be recorded.</strong>
    </p>
    <p>
        There will be a maximum of 8 questions. You will have 90 seconds to answer each question. You must answer all questions to receive
        compensation. </p>

    <h3 id="time">Additional Info</h3>
    <p>
        You may be required to interact with other participants in real time.

        Please only accept this HIT if you can commit to completing it. The
        estimated time for completion includes the maximum time allocated for all
        rounds.
    </p>

    <p>
        After completing this HIT, you will receive your reward plus a bonus payment
        that is based on your performance in the experiment.
    </p>

    <p>
	You can only take this HIT once.
    </p>

    <h3 id="start-task">Start Task</h3>
    <p>
      <strong>I understand the instructions and am ready to proceed.</strong>
    </p>
{% endblock %}
